.statusInformation_Container{
    flex: 1;
    width: 100vw;
}

.detailsTable {
    background-color: aliceblue;
    max-width: 90%;
    margin: 2rem;
}


.ButtonCel {
    height: 100%;
    text-align: center;
    width: 20rem;
}

@media (max-width: 800px) {
    .ButtonCel {
        height: 100%;
        text-align: center;
        width: fit-content;
    }
}

.buttonChange{
    margin-top: 1rem;
}