.sales_container {
    background-color: blue;
    background-image: url(./../../../assets/img/barrels.jpg);
    background-size: cover;
    flex: 1;
    display: flex;
    justify-content: center;
    width: 100%;
}

.salesTable {
    background-color: aliceblue;
    height: fit-content;
    margin: 2rem;
    width: 100%;
    overflow: scroll;
}