.main_container {
    background-color: blue;
    background-image: url(./../../assets/img/barrels.jpg);
    background-size: cover;
    flex: 1;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.info_container{
    background-color: rgb(0, 213, 255);
    width: 20rem;
    height: auto;
    margin: 2rem;
    border-radius: 1rem;
    padding: .5rem;
    display: flex;
    flex-direction: column;
}

.clientColor{
    background-color: rgb(216, 212, 80);
}

.barrelColor{
    background-color: rgb(202, 202, 173);
}

.productsColor{
    background-color: rgb(114, 114, 184);
}

.resultsColor{
    background-color: rgb(148, 216, 44);
}

.costsColor{
    background-color: rgb(193, 30, 30);
}

.othersColor{
    background-color: rgb(46, 167, 139);
}

.buttons_container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
}