.clientInfo_container {
    flex: 1;
    width: 100vw;
    
}

.infoClientsTable{
    background-color: rgb(138, 136, 136);
    max-width: 90%;
    margin: 2rem;
}

@media (max-width: 750px) {
    
    .tableContent{
        display: none;
    }
}

