.header_container { 
    background-color: blue;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100vw;
}

.nav {
    width: 100%;
}

.container {
    margin: 0 !important;
}

.logo {
    width: 3.5rem;
    height: 3rem;
    position: absolute;
    left: 47%;
}

.me-auto {
    position: absolute;
    right: 2rem ;
}

.welcome {
    color: white;
    position: absolute;
    height: 100%;
    right: 2rem;
    bottom: 0rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.welcomeText {
   margin-left: 1rem;
}