.barrelsPerCust_Container {
    background-color: blue;
    background-image: url(./../../../assets/img/barrels.jpg);
    background-size: cover;
    flex: 1;
    display: flex;
    justify-content: center;
    width: 100%;
}

.detailsTable{
    background-color: aliceblue;
    height: fit-content;
    margin: 2rem;
}

.barrelDetails {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.detailsTable {
    width: 100%;
    overflow: scroll;
}

.expired {
    background-color: rgb(255, 97, 97) !important;
    text-align: center;
}

.expired:hover {
    background-color: rgb(255, 0, 0) !important;
    color: white !important;
}

.inTime{
    text-align: center;
}
